    <%- include('header.ejs',{title:"포폴 메인페이지",hClass:"",cssFiles:["main.css"]}) %>
    <div id="container">
        <div class="mainContainer">메인 페이지 중간영역</div>
    </div>
    <%- include('footer.ejs',{jsFiles:["main.js","main2.js"]}) %>