
<%# ejs 태그 전용 주석은 밖에다가 빼서 사용%>
<% 

//스크립트 일반 주석은  두개로 사용
/*여러줄 주석은 이걸로 */
    const listData = [{
       title:"박스제목1",  
       context:"본문 내용1"
    },{
       title:"박스제목2",  
       context:"본문 내용2" 
    },{
       title:"박스제목3",  
       context:"본문 내용3"  
    }]
%>

<% for(let i=0; i<listData.length; i++){ %>
    <div class="boxs">
        <h2><%- listData[i].title %></h2>
        <p><%- listData[i].context %></p>
    </div>
<% } %>