    <%- include('header.ejs',{title:"포폴 서브페이지다",hClass:"sub",cssFiles:["sub.css"]}) %>
    <div id="container">
        <div class="subContainer">
            <%- include("mainList.ejs") %>
        </div>
    </div>
    <%- include('footer.ejs',{jsFiles:["sub.js"]}) %>